.App {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background: black;
  width: 100px;
  height: 300px;
  border-radius: 15px;
  margin-top: 50px;
}

.light {
  width: 80px;
  height: 80px;
  border-radius: 45px;
  margin: 5px;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.post {
  background: black;
  width: 30px;
  height: 300px;
}

.selected {
  box-shadow: 0px 0px 50px 25px rgba(235,149,0,1);
}